/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    /*margin-bottom: 60px;*/
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/* ckeditor balloon modal z-index */
:root {
    --ck-z-default: 60 !important;
}

.dropdown-menu.show {
    z-index: 1050;
}

/* semi-transparent text */
.st-text {
    opacity: .2;
}

.image {
    display: table;
    clear: both;
    text-align: center;
    margin: 1em auto;
}

.image-style-align-right {
    float: right;
    /*noinspection CssUnresolvedCustomProperty*/
    margin-left: var(--ck-image-style-spacing, 1.5em);
}

.image-style-side,
.image-style-align-left {
    float: left;
    /*noinspection CssUnresolvedCustomProperty*/
    margin-left: var(--ck-image-style-spacing, 1.5em);
}

.image-style-align-center,
.image-style-align-left,
.image-style-align-right,
.image-style-side {
    max-width: 50%;
}

.image > figcaption {
    display: table-caption;
    caption-side: bottom;
    word-break: break-word;
    color: #333;
    background-color: #f7f7f7;
    padding: .6em;
    font-size: .75em;
    outline-offset: -1px;
}

body.forced-modal-open {
    overflow: hidden;
}

.modal.stacked-modal.shown-modal {
    z-index: 1040 !important;
}

.modal-full-height .modal-content {
    height: 100% !important;
}

@media (min-width: 650px) and (max-width: 750px) {
    .modal-xl,
    .modal-xxl,
    .modal-3xl {
        max-width: 600px;
    }
}

@media (min-width: 750px) and (max-width: 992px) {
    .modal-xl,
    .modal-xxl,
    .modal-3xl {
        max-width: 700px;
    }
}

@media (min-width: 992px) {
    .modal-xxl,
    .modal-3xl {
        max-width: 800px;
    }
}

@media (min-width: 1200px) {
    .modal-xxl,
    .modal-3xl {
        max-width: 1140px;
    }
}

@media (min-width: 1500px) {
    .modal-xxl,
    .modal-3xl {
        max-width: 1400px;
    }
}

@media (min-width: 1800px) {
    .modal-3xl {
        max-width: 1700px;
    }
}

.full-width {
    width: 100%
}

.full-height {
    height: 100%
}

.d-block-nf {
    display: block;
}

.d-flex-nf {
    display: flex;
}

.d-contents {
    display: contents;
}

.form-processing {
    display: none;
}

.form-processing.show {
    display: block;
}

.form-processing .form-processing-backdrop,
.form-processing .form-processing-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.form-processing .form-processing-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-processing .form-processing-backdrop {
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.modal-dialog-scrollable .modal-body {
    min-height: 50px;
}

.spinner-container {
    min-height: 50px;
}

ngb-modal-backdrop {
    opacity: 0;
}

/* https://davidwalsh.name/detect-scrollbar-width */
/* way the hell off screen */
.scrollbar-measure {
    width: 100px;
    height: 100px;
    overflow: scroll;
    position: absolute;
    top: -9999px;
}