@using MCMS.Base.Helpers
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using MCMS.Base.Extensions
@model (MCMS.Base.Display.ModelDisplay.DetailsField field, object model)

@{
    var value = Model.field.PropertyInfo.GetValue(Model.model)?.ToString();
    if (string.IsNullOrEmpty(value))
    {
        <span class='st-text'>null/empty</span>
    }
    else
    {
        var id = "collapse-" + Utils.GenerateRandomHexString();
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#@id" aria-expanded="false" aria-controls="@id">
            View/Hide
        </button>
        <div class="collapse" id="@id">
            <div style="overflow-wrap: anywhere;">
                @Html.Raw(value)
            </div>
        </div>
    }
}