@using MCMS.Display.Link
@model MCMS.Display.Menu.MenuLink
<a class="nav-link" href="@Model.BuildUrl(Url)" target="@Model.Target">
    @if (!string.IsNullOrEmpty(Model.IconClasses))
    {
        <div class="sb-nav-link-icon">
            @Html.Raw(Model.FontAwesomeIconHtml())
        </div>
    }
    @(Model.Text)
</a>
