@using MCMS.Files.Models
@model (MCMS.Base.Display.ModelDisplay.DetailsField field, object model)

@{
    var fileVm = Model.field.PropertyInfo.GetValue(Model.model) as FileViewModel;
    if (fileVm == null)
    {
        <text>--</text>
        return;
    }
}
<a href="@fileVm.GetPrivateLink(Url)" target="_blank">@fileVm.OriginalName</a>