@using MCMS.SwaggerFormly.Extensions
@using MCMS.SwaggerFormly.FormParamsHelpers
@{
    ViewBag.Title = "Create a " + ViewBag.EntityName;
    var formParamsService = ViewBag.FormParamsService as FormParamsService;
    Layout = "_ModalLayout";
}

@await Html.BlindPartialAsync("Formly/FormlyForm", formParamsService.ForCreate())
<div class="form-group">
    <button type="button" class="btn btn-danger" data-dismiss="modal">Închide</button>
</div>