@using MCMS.Base.Display.DisplayValue
@inject DisplayValueService DisplayValueService
@model MCMS.Display.DetailsViewModel

<table class="table table-striped table-bordered">
    <tbody>
    @foreach (var detailsField in Model.Fields)
    {
        <tr class="@detailsField.ClassName">
            <td class="">@Html.Raw(detailsField.Name)</td>
            <td class="">@Html.Raw(DisplayValueService.GetDisplayValue(detailsField.PropertyInfo, Model.Model) ?? "<span class='st-text'>null/empty</i>")</td>
        </tr>
    }
    </tbody>
</table>