@using MCMS.Base.Display.DisplayValue
@inject DisplayValueService DisplayValueService
@model MCMS.Display.DetailsViewModel

<table class="table table-striped table-bordered">
    <tbody>
    @foreach (var detailsField in Model.Fields)
    {
        <tr class="@detailsField.ClassName">
            <td>@Html.Raw(detailsField.Name)</td>
            @if (!string.IsNullOrEmpty(detailsField.ViewTemplate))
            {
                <td>
                    <partial name="@("ViewTemplates/" + detailsField.ViewTemplate)"
                             model="(detailsField, Model.Model)"/>
                </td>
            }
            else
            {
                <td>@Html.Raw(DisplayValueService.GetDisplayValue(detailsField.PropertyInfo, Model.Model) ?? "<span class='st-text'>null/empty</span>")</td>
            }
        </tr>
    }
    </tbody>
</table>