@using MCMS.Base.Helpers
@using MCMS.Base.Repositories
@using MCMS.Base.Extensions
@model List<string>
@inject ITranslationsRepository TransRepo

@{
    ViewBag.Title = await TransRepo.Format("delete_batch_confirm_format", new object[] {Model.Count, ViewBag.ModelName});
    var formId = Utils.GenerateRandomHexString();
    Layout = "_ModalLayout";
}
<form data-ajax-method="post" id="@formId"
      action="@Url.ActionLink("BatchDelete", ViewBag.ApiControllerName as string)">
    <div class="modal-body">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">@await TransRepo.GetValueOrSlug("cancel")</button>
        <button type="submit" class="btn btn-danger">@await TransRepo.GetValueOrSlug("yes")</button>
    </div>
</form>

@using (Html.BeginMPageScripts())
{
    <script>
         ajaxForm($("#@formId"), true, null, @Json.Serialize(Model));
    </script>
}