@using MCMS.Base.Helpers
@using MCMS.Base.Extensions
@model MCMS.Base.Data.Entities.IEntity

@{
    ViewBag.Title = "'R u șur' u want to delete️ " + ViewBag.EntityName + " " + Model + "?";
    var formId = Utils.GenerateRandomHexString();
    Layout = "_ModalLayout";
}
<form method="post" id="@formId" asp-action="Delete">
    <div class="modal-body">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Închide</button>
        <button type="submit" class="btn btn-danger">Yea</button>
    </div>
</form>

@using (Html.BeginMPageScripts())
{
    <script>
         var form = $("#@formId");
         ajaxForm(form, true);
     </script>
}