@using MCMS.Base.Helpers
@using MCMS.Base.Extensions
@using MCMS.Base.Repositories
@model MCMS.Base.Data.Entities.IEntity
@inject ITranslationsRepository TransRepo

@{
    ViewBag.Title = await TransRepo.Format("delete_confirm_format", new object[] {ViewBag.ModelName, Model});
    var formId = Utils.GenerateRandomHexString();
    Layout = "_ModalLayout";
}
<form method="post" id="@formId" asp-action="Delete">
    <div class="modal-body">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">@await TransRepo.GetValueOrSlug("cancel")</button>
        <button type="submit" class="btn btn-danger">@await TransRepo.GetValueOrSlug("yes")</button>
    </div>
</form>

@using (Html.BeginMPageScripts())
{
    <script>
         var form = $("#@formId");
         ajaxForm(form, true);
     </script>
}