@using MCMS.Base.Repositories
@using MCMS.Display.Link
@using MCMS.Admin.Users
@inject ITranslationsRepository TransRepo
@model MCMS.Display.DetailsViewModelT<MCMS.Admin.Users.UserViewModel>

@{
    ViewBag.Title = ViewBag.ModelName + ": " + Model.Model;
    Layout = "_ModalLayout";
    ViewBag.ModalDialogClasses = "modal-xl";
}
<div class="modal-body">
    <div class="container-fluid">
        <partial name="BasicModals/_DetailsFields"/>
    </div>
</div>
<div class="modal-footer">
    @if (!Model.TModel.EmailConfirmed)
    {
        var confirmEmailLink = new MRichLink(await TransRepo.GetValueOrSlug("confirm_email"), typeof(AdminUsersUiController),
            nameof(AdminUsersUiController.ConfirmEmail)).WithValues(new { Model.TModel.Id }).WithTag("confirm-email")
            .AsButton("light").WithModal()
            .WithIconClasses("fas fa-envelope-circle-check");
        <partial name="Partials/_MRichLink" model="confirmEmailLink"/>
    }
    @{
        var resendResetLink = new MRichLink(await TransRepo.GetValueOrSlug("resend_activation_email"), typeof(AdminUsersUiController),
            nameof(AdminUsersUiController.ResendActivationMail)).WithValues(new { Model.TModel.Id }).WithTag("confirm-email")
            .AsButton("light").WithModal()
            .WithIconClasses("fas fa-paper-plane");
        <partial name="Partials/_MRichLink" model="@resendResetLink"/>
    }
    @{
        var changeEmailLink = new MRichLink(await TransRepo.GetValueOrSlug("update_email"), typeof(AdminUsersUiController),
            nameof(AdminUsersUiController.UpdateEmail)).WithValues(new { Model.TModel.Id }).WithTag("update-email")
            .AsButton("light").WithModal()
            .WithIconClasses("fas fa-envelope");
        <partial name="Partials/_MRichLink" model="@changeEmailLink"/>
    }
    @{
        var updateRoles = new MRichLink(await TransRepo.GetValueOrSlug("update_roles"), typeof(AdminUsersUiController),
            nameof(AdminUsersUiController.UpdateRoles)).WithValues(new { Model.TModel.Id }).WithTag("update-email")
            .AsButton("light").WithModal()
            .WithIconClasses("fas fa-tags");
        <partial name="Partials/_MRichLink" model="@updateRoles"/>
    }
    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">@await TransRepo.GetValueOrSlug("close")</button>
</div>