@{
    ViewBag.Title = "Admin Management";
}
<h3 class="my-5">@ViewBag.Title</h3>
<div>
    <a asp-action="Seed" class="btn btn-primary">Seed</a>
    <a asp-action="FrameworkInfo" asp-controller="McmsFramework" class="btn btn-primary">Framework Info</a>
</div>