@using MCMS.Base.Repositories
@using MCMS.Display.Link
@using MCMS.Admin.Users
@inject ITranslationsRepository TransRepo
@model MCMS.Admin.Users.UserViewModel

@{
    ViewBag.Title = ViewBag.ModelName + ": " + Model;
    Layout = "_ModalLayout";
}
<div class="modal-body">
    <div class="container-fluid">
        <partial name="BasicModals/_DetailsFields"/>
    </div>
</div>
<div class="modal-footer">
    @if (!Model.EmailConfirmed)
    {
        var confirmEmailLink = new MRichLink(await TransRepo.GetValueOrSlug("confirm_email"), typeof(AdminUsersController),
            nameof(AdminUsersController.ConfirmEmail)).WithValues(new {Model.Id}).WithTag("confirm-email")
            .AsButton("outline-secondary").WithModal()
            .WithIconClasses("fas fa-check");

        <partial name="Partials/_MRichLink" model="confirmEmailLink"/>
@*         <button type="button" class="btn btn-warning">@await TransRepo.GetValueOrSlug("confirm_email")</button> *@
    }
    @{
        var resendResetLink = new MRichLink(await TransRepo.GetValueOrSlug("resend_activation_email"), typeof(AdminUsersController),
            nameof(AdminUsersController.ResendActivationMail)).WithValues(new {Model.Id}).WithTag("confirm-email")
            .AsButton("outline-secondary").WithModal()
            .WithIconClasses("fas fa-envelope");

        <partial name="Partials/_MRichLink" model="resendResetLink"/>
    }
    <button type="button" class="btn btn-secondary" data-dismiss="modal">@await TransRepo.GetValueOrSlug("close")</button>
</div>