@using Microsoft.Extensions.Options
@using MCMS.Base.Helpers
@using MCMS.Base.Builder
@inject IOptions<SiteConfig> SiteConfig
@if (ViewBag.HideFooter is bool hideFooter && hideFooter)
{
    return;
}
<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">@Html.Raw(SiteConfig.Value.SiteCopyright ?? "Copyright &copy; MCMS Team 2020") </div>
            <div>
                @if (!Env.GetBool("HIDE_PRIVACY_POLICY"))
                {
                    <a asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
                }
                @* &middot; *@
                @* <a href="#">Terms &amp; Conditions</a> *@
            </div>
        </div>
    </div>
</footer>