@using Microsoft.Extensions.Options
@using MCMS.Base.Builder
@inject IOptions<SiteConfig> SiteConfig
@{
    var config = SiteConfig.Value;
}
@if (ViewBag.HideFooter is bool hideFooter && hideFooter)
{
    return;
}
<footer class="py-4 mt-auto footer-bordered">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">
                <span>@Html.Raw(SiteConfig.Value.SiteCopyright ?? "Copyright &copy; MCMS Team 2020")</span>
                @if (!config.HideMcmsInfoFromFooter)
                {
                    <span>| <a asp-controller="McmsFramework" asp-action="FrameworkInfo">MCMS</a></span>
                }
            </div>
            @if (config.ShowPrivacyPolicyInFooter)
            {
                <div>
                    <a asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
                </div>
            }
        </div>
    </div>
</footer>