@using MCMS.Builder
@using Microsoft.Extensions.Options

@inject IOptions<SiteConfig> SiteConfig
<header>
    <nav class="navbar sb-topnav  navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark box-shadow mb-3">
        <div class="container-fluid">
            <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#">
                <i class="fas fa-bars"></i>
            </button>
            <a class="navbar-brand navbar-title" asp-area="" asp-controller="Home" asp-action="Index">@(Context.Items["NavbarTitle"] ?? SiteConfig.Value.SiteName ?? "MCMS")</a>
            @* <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" *@
            @*         aria-expanded="false" aria-label="Toggle navigation"> *@
            @*     <span class="navbar-toggler-icon"></span> *@
            @* </button> *@
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <partial name="_LoginPartial"/>
            </div>
        </div>
    </nav>
</header>