@using MCMS.Admin
@inject FrameworkInfoService FrameworkInfoService

@{
    ViewBag.Title = "MCMS Framework Info";
}
<h3 class="my-5">@ViewBag.Title</h3>

<div class="row">
    <div class="col-12">
        <div class="card d-inline-flex">
            <div class="card-header">Loaded Assemblies with MCMS Specs</div>
            <div>
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Version</th>
                        <th>Image</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var lib in FrameworkInfoService.GetDetails().Libs)
                    {
                        <tr>
                            <td>@lib.Name</td>
                            <td>@lib.Version</td>
                            <td>
                                <img src="~/api/McmsFramework/FrameworkVersion?libName=@lib.Name" alt="@(lib.Name + " " + lib.Version)"/>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>