@using MCMS.Base.Repositories
@model MCMS.Base.Data.Entities.IEntity
@inject ITranslationsRepository TransRepo

@{
    ViewBag.Title = $"{await TransRepo.GetValueOrSlug("delete")} {Model}";
}

<h2 class="mb-5">@await TransRepo.Format("delete_confirm_format", new object[] {ViewBag.ModelName, Model})</h2>

@using (Html.BeginForm())
{
    <button type="submit" class="btn btn-danger">@await TransRepo.GetValueOrSlug("yes")</button>
}