@model MCMS.Base.Data.Entities.IEntity


@{
    ViewBag.Title = "Șterge " + Model;
}

<h2 class="mb-5">'R u șur' u want to delete @ViewBag.ModelName @Model?</h2>

@using (Html.BeginForm())
{
    <button type="submit" class="btn btn-danger">Yea</button>
}