@using MCMS.SwaggerFormly.Extensions
@using MCMS.SwaggerFormly.FormParamsHelpers
@model MCMS.Base.Data.Entities.IEntity
@{
    ViewBag.Title = "Edit " + ViewBag.EntityName + " " + Model;
    var formParamsService = ViewBag.FormParamsService as FormParamsService;
}

<h2>@ViewBag.Title</h2>

<div class="row">
    @* <div class="col-12 col-sm-10 col-md-8 col-xl-6"> *@
    <div class="col-12">
        @await Html.BlindPartialAsync("Formly/FormlyForm", formParamsService.ForPatch(Model.Id))
    </div>
</div>