@using MCMS.SwaggerFormly.FormParamsHelpers
@using MCMS.Base.Extensions
@model MCMS.Base.Data.Entities.IEntity
@{
    ViewBag.Title = "Edit " + ViewBag.ModelName + " " + Model;
    var formParamsService = ViewBag.FormParamsService as FormParamsService;
    var formParams = formParamsService.ForPatch(Model.Id);
    formParams.Options = new {hideSubmitButton = true};

    var returnUrl = Context.Request.Query.ContainsKey("returnUrl") ? (string) Context.Request.Query["returnUrl"] : null;
}

<h2>@ViewBag.Title</h2>
<div class="container">
    <div class="row">
        <div class="col-12">
            @* <div class="col-12"> *@
            @await Html.BlindPartialAsync("Formly/FormlyForm", formParams)
        </div>
    </div>
    <div class="row">
        <div class="col-12 justify-content-between d-flex">
            <button type="button" class="btn btn-secondary" onclick="callback@(formParams.FormInstanceId)()">Înapoi</button>
            <button type="button" class="btn btn-primary" id="@formParams.FormInstanceId-submit-button">Salvează</button>
        </div>
    </div>
</div>

@using (Html.BeginMPageScripts())
{
    <script>
       function callback@(formParams.FormInstanceId)(sender, params) {
           var returnUrl = '@returnUrl';
           if(returnUrl) {
               window.location.href = returnUrl;
           } else {
               window.history.back();
           }
       }
    </script>
}