@model MCMS.Display.ModelDisplay.IndexPageConfig
@using MCMS.Base.Exceptions

@{
    // var returnUrl = Context.Request.Query.ContainsKey("returnUrl") ? (string) Context.Request.Query["returnUrl"] : Url.Action("Index");
    ViewBag.Title = Model?.IndexPageTitle ?? "Null model or title";
    if (Model == null)
    {
        throw new KnownException("Invalid model provided for this view.", 500);
    }
}

@if (!string.IsNullOrEmpty(ViewBag.Title))
{
    <h3 class="mt-4 mb-4">@ViewBag.Title</h3>
}
<partial name="_McmsTable" model="Model.TableConfig"/>
<partial name="Partials/_TriggerItemActionByQueryParams"/>