@using Microsoft.Extensions.Options
@using MCMS.Builder
@using MCMS.Base.Builder
@using MCMS.Base.Extensions
@inject IOptions<SiteConfig> SiteConfig
@inject IOptions<LayoutIncludesOptions> LayoutIncludes
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title> @(ViewData.ContainsKey("Title") ? ViewData["Title"] + " |" : "") @(SiteConfig.Value.SiteName ?? "MCMS") </title>
    @foreach (var valueLayoutInclude in LayoutIncludes.Value.GetAllForPage)
    {
        @(await Html.BlindPartialAsync(valueLayoutInclude, null, ViewData))
    }
    <partial name="Partials/_Styles"/>
    @await RenderSectionAsync("Styles", required: false)
</head>
<body class="sb-nav-fixed">
<partial name="Partials/_Navbar"/>
<div class="sb-layout-sidenav">
    <partial name="Partials/_Sidenav"/>
    <div class="sb-layout-sidenav-content">
        <main role="main" class="pb-3 container-fluid">
            @RenderBody()
        </main>
        <partial name="Partials/_Footer"/>
    </div>
</div>
<partial name="_BasicModals"/>
<partial name="Partials/_Scripts"/>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>