@using MCMS.Display.ModelDisplay
@using MCMS.Base.Repositories
@inject ITranslationsRepository TransRepo

@{
    ViewBag.Title = ViewBag.ModelName + ": " + Model;
    var fields = ViewBag.Fields as List<DetailsField>
                 ?? (ViewBag.ModelDisplayConfigService as IModelDisplayConfigService)?.GetDetailsFields()
                 ?? throw new Exception("Can't get fields for " + ViewBag.ModelName);
    Layout = "_ModalLayout";
}
<div class="modal-body">

    <div class="container-fluid">
        @foreach (var detailsField in fields)
        {
            <div class="row">
                <div class="col-sm-3">@detailsField.Name</div>
                <div class="col-sm-9">@Html.Raw(detailsField.GetFor(Model))</div>
            </div>
        }
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">@await TransRepo.GetValueOrSlug("close")</button>
</div>