@using MCMS.Base.Repositories
@inject ITranslationsRepository TransRepo
@model MCMS.Display.DetailsViewModel

@{
    ViewBag.Title = ViewBag.ModelName + ": " + Model.Model;
    Layout = "_ModalLayout";
}
<div class="modal-body">
    <div class="container-fluid">
        <partial name="BasicModals/_DetailsFields"/>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">@await TransRepo.GetValueOrSlug("close")</button>
</div>